body {
    font-family: 'Lato', sans-serif;
}

.header-container {
    text-align: center;
}

.header-container > p {
    margin: 5px 0;
}

.header-container > p:last-child {
    margin-bottom: 20px;
}

.header-name {
    font-size: 36px;
    margin: 20px 0;
}

.instructions > strong {
    font-weight: bold;
}

.interaction-container {
    display: flex;
}

.sidebar-main {
    width: 25%;
    height: 80%;
}

.main-interaction {
    display: flex;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    width: 80%;
    height: 78%;
}

.sidebar {
    border-left: 2px solid black;
}

.history {
    text-align: center;
    overflow: auto;
}

.history > h1 {
    border-bottom: 2px solid black;
}

.history {
    height: 95%;
}

.submit-partition {
    width: 100%;
    height: 5%;
}

.submit {
    width: 316px;
    height: 35px;
    background-color: transparent;
    border: none;
    border-top: 2px solid black;
}

.submit:hover {
    background-color: gray;
}