.tutorial, .tutorial > * {
    position: absolute;
}

.tutorial {
    width: 100%;
    text-align: center;
    color: rgb(250, 244, 228);
    font-family: 'Lato', 'sans-serif';
    z-index: 20;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.long {
    font-size: 28px;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
}

.float {
    width: 15%;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
}

#step-6, #step-7 {
    top: -110px;
    left: 600px;
}

#step-8, #step-9, #step-11, #step-12, #step-24 {
    top: 415px;
    left: 937px;
}

#step-10 {
    top: 100px;
    left: 325px;
}

#step-13, #step-14 {
    left: 900px;
}

#step-18 {
    top: -130px;
    left: 100px;
}

#step-19 {
    top: 846px;
    left: 754px;
}

#step-23 {
    top: 60px;
    left: 600px;
}

#step-31 {
    top: 120px;
    left: 284px;
}

#step-32 {
    top: 400px;
    left: 1120px;   
}